/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Main styles */
body {font-family: "Lato", sans-serif;
  background-color: rgb(8, 8, 33);
  color:#e6e6e6;
}
header {
  margin-bottom: 5em;
}

footer {
  font-size: 1.5em;
  font-weight: bold;
}

hr {
  display: block;
  border-width: 2px;
  border-color: #666666;
  margin: 1em;
}

.nopadding {
  padding: 0.1em !important;
  margin: 0.1em !important;
}

.light-mode {
  background-color: rgb(250, 250, 250);
  color: black;
}

.pill-nav p {
  display: inline-block;
  background-color: rgb(185, 234, 252);
  color: black;
  text-align: center;
  padding: .8em;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav p:hover {
  background-color: #ffffff;
  color: black;
  font-weight: 200;
  cursor: pointer;
}

/* Add a color to the active/current link */
.pill-nav p.active {
  background-color: dodgerblue;
  color: white;
} 

.buttonstyle {
  background-color: #e6e6e6;
  color: black;
  border-radius: .5em;
  padding: .5em;
  text-decoration: none;
}

.infostyle {
  display: inline-block;
  background-color: #e6e6e6;
  color: black;
  border-radius: .5em;
  padding: .33em;
  margin: 1em;
  text-decoration: none;
  cursor: pointer;
}

.infolist{
  margin-bottom: 1em;
}

.selectstyle {
  border-radius: .5em;
  padding: .5em;
  margin: 1em;
}

.container-fluid {
  max-width: 1900px;
}

.dblcol img {
  width: 100%;
}
.trlcol img {
  width: 100%;
}

img {
  /* box-shadow: 0 0 0 1em rgba(8, 238, 33,.2); */
  border-radius: .75em; 
}


/* Slider styles */
.sliderdiv{
  margin: 1em;
}
.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* image comparison styles */
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  /* vertical-align:middle; */
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 50px;
  height: 50px;
  background-color: #C3304A;
  opacity: 0.75;
  border-radius: 50%;
}



img.ex {
  padding: 2em;
}

p.ex {
  padding: 1.5em;
}

img.regiongrid{
  max-width: 800px;
}

#worldChartanimated {
  width: 1250px;
  height: 1000px;
  
}